@import './text-mixin';

//字体居中左右
.#{$bc-prefix-name}t-c {
	text-align: center;
}

.#{$bc-prefix-name}t-l {
	text-align: left;
}

.#{$bc-prefix-name}t-r {
	text-align: right;
}

//基线
.#{$bc-prefix-name}v-m {
	* {
		vertical-align: middle;
	}
}

.#{$bc-prefix-name}v-t {
	* {
		vertical-align: top;
	}
}

.#{$bc-prefix-name}v-b {
	* {
		vertical-align: bottom;
	}
}

//多行省略
.#{$bc-prefix-name}t-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	@for $i from 2 through 5 {
		&.#{$bc-prefix-name}t-ellipsis-#{$i} {
			-webkit-line-clamp: $i;
		}
	}
}

//超出省略
.#{$bc-prefix-name}t-hide {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
}

//字体颜色
@each $name, $color in $color-group {
	.#{$bc-prefix-name}t-#{$name} {
		@include text-color($color);
	}
}

//文字换行
.#{$bc-prefix-name}wb-ba {
	word-break: break-all;
}

//文字换行
.#{$bc-prefix-name}ws-nm {
	white-space: normal;
}