@if $use-table {
	.#{$bc-prefix-name}table {
		width: 100%;
		&.#{$bc-prefix-name}table-layout {
			table-layout: fixed;
		}
		&.#{$bc-prefix-name}table-pd-5 {
			th,
			td {
				padding: 5px;
			}
		}
		&.#{$bc-prefix-name}table-pd-10 {
			th,
			td {
				padding: 10px;
			}
		}
		&.#{$bc-prefix-name}table-pd-15 {
			th,
			td {
				padding: 15px;
			}
		}
	}
}