.#{$bv-prefix-name}button {
	padding: rpx(18);
	@each $name, $color in $color-group {
		&[data-type="#{$name}"] {
			background-color: $color;
			color: white;
		}
		//小程序
		@if ($platform == 'mp') {
			//hover颜色处理
			&.bv-button-hover-#{$name} {
				background-color: adjust-hue($color, 5);
			}
		} @else if ($platform == 'h5') {
			//H5
			&[data-type="#{$name}"]:hover {
				background-color: adjust-hue($color, 5);
			}
		}
	}
	&.#{$bv-prefix-name}button-radius {
		border-radius: 5px;
	}
}