$input-pd: rpx(24);

.#{$bv-prefix-name}input-container {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
	.#{$bv-prefix-name}label {
		width: rpx(120);
		font-weight: 400;
		padding: $input-pd;
	}
	.#{$bv-prefix-name}input {
		flex: 1;
		padding: $input-pd;
	}
	.#{$bv-prefix-name}input-append {
		flex: 1;
	}
}