//设备宽度，以iphone6,7,8的分辨率为基准
$device-width: 750;

//rem字体
$rem-font-size: 1.6;

//rem字体解析的px值
$px-font-size: 24;

//最大屏幕后不执行vw单位,px单位
$viewport-min-width: 650;

// rem字体解析的px值/ rem字体 / (设备宽度 / 100vw) =  viewport-fonsize
$viewport-font-size: $px-font-size/$rem-font-size/($device-width/100);

//微信viewport
$wx-viewport: 1;
