//h5的viewport
$h5-viewport: 2;

//设备宽度，以iphone6,7,8的分辨率为基准
$device-width: 750 / $h5-viewport;

//换算规则 0.8rem === 12px
//rem字体
$rem-font-size: 0.8;

//rem字体解析的px值
$px-font-size: 12;

//设备原始宽度
$device-raw-width: 3000 !default;

//最大屏幕后不执行vw单位,px单位（考虑去除viewport）
$device-min-width: $device-raw-width / $h5-viewport;

// rem字体解析的px值/ rem字体 / (设备宽度 / 100vw) =  viewport-fonsize
$viewport-font-size: $px-font-size/$rem-font-size/($device-width/100);

//微信viewport
$wx-viewport: 1;
