@mixin link($name,$color) {
	.#{$prefix-name}hover-#{$name} {
		a:not(.not-hover) {
			&:hover {
				color: $color !important;
			}
		}
	}

	.#{$prefix-name}link-#{$name} {
		a {
			color: $color;
		}
	}
}