@import './button-mixin';

//移动端底部多出的2px
html[data-mobile-device=true] {
  .#{$bc-prefix-name}btn {
    padding: rpx(4) rpx(12) rpx(2);
  }
}

//btn
.#{$bc-prefix-name}btn {
  display: inline-block;
  outline: none;
  border: 1px solid transparent;
  text-align: center;
  background-color: white;
  @extend %form-elm-pd;
  @extend %border-box;
}

//btn color
@each $name, $color in $color-group {
  @include btn($name, $color);
}