@mixin btn($name, $color) {
  &.#{$prefix-name}btn-#{$name} {
    color: white;
    background-color: $color;
    border-color: $color;
    &:hover {
      cursor: pointer;
      background-color: $color;
    }
    &:active, &.active {
      background-color: $color;
    }
    &.#{$prefix-name}btn-line {
      color: $color;
      background-color: #fff;
      border-color: $color;
    }
  }
}