@mixin btn($name, $color) {
	&.#{$prefix-name}btn-#{$name} {
		color: white;
		background-color: $color;
		border-color: $color;
		&:hover, &:active, &.active {
			cursor: pointer;
			background-color: adjust-hue($color, 5);
			border-color: adjust-hue($color, 5);
		}
		&.#{$prefix-name}btn-plain {
			color: $color;
			background-color: #fff;
			border-color: $color;
		}
	}
}