//padding 0
.#{$bc-prefix-name}pd-0 {
	padding: 0;
}

//px padding
@if $use-px-padding {
	@for $i from $padding-start through $padding-end {
		.#{$bc-prefix-name}pd-#{$i} {
			padding: #{$i}px;
		}
		.#{$bc-prefix-name}pd-l-#{$i} {
			padding-left: #{$i}px;
		}
		.#{$bc-prefix-name}pd-r-#{$i} {
			padding-right: #{$i}px;
		}
		.#{$bc-prefix-name}pd-t-#{$i} {
			padding-top: #{$i}px;
		}
		.#{$bc-prefix-name}pd-b-#{$i} {
			padding-bottom: #{$i}px;
		}
		.#{$bc-prefix-name}pd-tb-#{$i} {
			padding-top: #{$i}px;
			padding-bottom: #{$i}px;
		}
		.#{$bc-prefix-name}pd-lr-#{$i} {
			padding-left: #{$i}px;
			padding-right: #{$i}px;
		}
	}
}

//rpx padding
@if $use-rpx-padding {
	@for $i from $padding-start through $padding-end {
		.#{$bc-prefix-name}pd-#{$i}rpx {
			padding: rpx($i);
		}
		.#{$bc-prefix-name}pd-l-#{$i}rpx {
			padding-left: rpx($i);
		}
		.#{$bc-prefix-name}pd-r-#{$i}rpx {
			padding-right: rpx($i);
		}
		.#{$bc-prefix-name}pd-t-#{$i}rpx {
			padding-top: rpx($i);
		}
		.#{$bc-prefix-name}pd-b-#{$i}rpx {
			padding-bottom: rpx($i);
		}
		.#{$bc-prefix-name}pd-tb-#{$i}rpx {
			padding-top: rpx($i);
			padding-bottom: rpx($i);
		}
		.#{$bc-prefix-name}pd-lr-#{$i}rpx {
			padding-left: rpx($i);
			padding-right: rpx($i);
		}
	}
}



