//颜色配置信息
$color-base: blue;

$color-999: #999;
$color-666: #666;
$color-333: #333;
$color-e5e: #e5e5e5;

$color-org: #ff8400;
$color-green: #008000;
$color-red: red;
$color-blue: blue;
$color-white: white;
$color-grey: #ccc;

$color-default: #666;

$color-primary: #337ab7;
$color-info: #5bc0de;
$color-success: #45ae00;
$color-warning: #ff8400;
$color-danger: #d9534f;

//-------------------------

// color 颜色组
$color-group: ('base', $color-base),
	('999', $color-999),
	('666', $color-666),
	('333', $color-333),
	('e5e', $color-e5e),
	('org', $color-org),
	('green', $color-green),
	('red', $color-red),
	('blue', $color-blue),
	('grey', $color-grey),
	('white', $color-white),
	('default', $color-default),
	('primary', $color-primary),
	('info', $color-info),
	('success', $color-success),
	('warning', $color-warning),
	('danger', $color-danger);