@mixin link($name,$color) {
  .#{$bc-prefix-name}hover-#{$name} {
    a:not(.not-hover) {
      &:hover {
        color: $color !important;
      }
    }
  }

  .#{$bc-prefix-name}link-#{$name} {
    a {
      color: $color;
    }
  }
}