//padding 0
.#{$prefix-name}pd-0 {
	padding: 0;
}

//px padding
@if $use-px-padding {
	@for $i from $padding-start through $padding-end {
		.#{$prefix-name}pd-#{$i} {
			padding: #{$i}px;
		}
		.#{$prefix-name}pd-l-#{$i} {
			padding-left: #{$i}px;
		}
		.#{$prefix-name}pd-r-#{$i} {
			padding-right: #{$i}px;
		}
		.#{$prefix-name}pd-t-#{$i} {
			padding-top: #{$i}px;
		}
		.#{$prefix-name}pd-b-#{$i} {
			padding-bottom: #{$i}px;
		}
		.#{$prefix-name}pd-tb-#{$i} {
			padding-top: #{$i}px;
			padding-bottom: #{$i}px;
		}
		.#{$prefix-name}pd-lr-#{$i} {
			padding-left: #{$i}px;
			padding-right: #{$i}px;
		}
	}
}

//rpx padding
@if $use-rpx-padding {
	@if $platform == 'h5' {
		//h5计算规则
		@for $i from $padding-start through $padding-end {
			.#{$prefix-name}pd-#{$i}rpx {
				padding: rem($i);
			}
			.#{$prefix-name}pd-l-#{$i}rpx {
				padding-left: rem($i);
			}
			.#{$prefix-name}pd-r-#{$i}rpx {
				padding-right: rem($i);
			}
			.#{$prefix-name}pd-t-#{$i}rpx {
				padding-top: rem($i);
			}
			.#{$prefix-name}pd-b-#{$i}rpx {
				padding-bottom: rem($i);
			}
			.#{$prefix-name}pd-tb-#{$i}rpx {
				padding-top: rem($i);
				padding-bottom: rem($i);
			}
			.#{$prefix-name}pd-lr-#{$i}rpx {
				padding-left: rem($i);
				padding-right: rem($i);
			}
		}
	} @else if ($platform == 'mp') {
		//小程序计算规则
		@for $i from $padding-start through $padding-end {
			.#{$prefix-name}pd-#{$i}rpx {
				padding: rpx($i);
			}
			.#{$prefix-name}pd-l-#{$i}rpx {
				padding-left: rpx($i);
			}
			.#{$prefix-name}pd-r-#{$i}rpx {
				padding-right: rpx($i);
			}
			.#{$prefix-name}pd-t-#{$i}rpx {
				padding-top: rpx($i);
			}
			.#{$prefix-name}pd-b-#{$i}rpx {
				padding-bottom: rpx($i);
			}
			.#{$prefix-name}pd-tb-#{$i}rpx {
				padding-top: rpx($i);
				padding-bottom: rpx($i);
			}
			.#{$prefix-name}pd-lr-#{$i}rpx {
				padding-left: rpx($i);
				padding-right: rpx($i);
			}
		}
	}
}



